<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="debr.myBatis.model.Sponsor" alias="Sponsor"/>
        <typeAlias type="debr.myBatis.model.Player" alias="Player"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="TennisDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="myBatis.xml/SponsorMapper.xml"/>
        <mapper resource="myBatis.xml/PlayerMapper.xml"/>
    </mappers>
</configuration>