<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
        bean-discovery-mode="annotated">

    <!--
    <alternatives>
        <class>debr.services.NickName.AlternativeNickNameGenerator</class>
        <class>debr.services.Earnings.MockEarningsGenerator</class>
    </alternatives>
    -->

    <!--
    <decorators>
        <class>debr.services.Earnings.EarningsGeneratorDollars</class>
    </decorators>
    -->
    
    <interceptors>
        <class>debr.interceptors.MethodLogger</class>
    </interceptors>
</beans>